.post{

  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  width: 100%;
  border-radius: 10px;
  margin: 30px 0px;
}

.postUserPic{
  height: 32px;
  width: 32px;
 border-radius: 50%;
 margin: 20px 10px;
 object-fit: cover;
}
.postWrapper{
  padding: 10px;

}
.postTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postTopLeft{
  display: flex;
  align-items: center;

}

.postUserName{
  font-size: 15px;
  font-weight: 500;
  margin: 0px 10px;
}

.postDate{
  font-size: 12px;
}

.postCenter{
  margin:20px 0px;
}

.postImage{
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft{
  display: flex;

}

.likeButtonLiked{

  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  color: #1877F2;
}

.likeButton{

  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  color:  #1877F2;

}

.postlikeCounter{
  font-size: 15px;
}


.postCommentText{
  cursor: pointer;
  border-bottom: 1px dashed grey;
  font-size: 15px;
}