.rightBarFriend{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rightBarProfileImageContainer{
  margin-right: 10px;
  position: relative;
  display: flex;
}

.rightBarProfileImage{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right:10px;
}

.rightBarUserName{
  margin-left: 20px;
  font-weight: 500;
}

.rightBarOnline{
height:12px;
width: 12px;
background-color: limegreen;
position: absolute;
top:10px;
left:40px;
right:0px;
border:2px solid white;
border-radius: 50%;
margin-left: 8px;
}
.rightbarTitle{
  margin-bottom: 20px;
}